body{
    font-family: 'Segoe UI', sans-serif;
    font-size: 1em;
}
#count{
    display: block;
    text-align: center;
    font-size: 2rem;
}
.buttons{
    text-align: center;
}
.button{
    font-size: 1.2rem;
    color: white;
    background-color: lawngreen;
    padding: 10px 20px;
    border-radius: 5px;
}
.button:hover{
    background-color: blueviolet;
}
#btn{
    font-size: 1.5em;
    padding: 5px 10px;
    border-radius: 10px;
}
    